{%  extends 'base/base.html' %}
{% load static %}
{% block title %}
        Oxdora I Tech | Goal Type
{% endblock %}
{% block stylesheet %}
{% endblock %}
{% block header %}
{% endblock %}
{% block sideber %}
{% endblock %}
{% block content %}

    <!-- Page Content -->
    <div class="content container-fluid">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Goal Type</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item active">Goal Type</li>
                    </ul>
                </div>
                <div class="col-auto float-right ml-auto">
                    <a href="goal-type.html#" class="btn add-btn" data-toggle="modal" data-target="#add_type"><i class="fa fa-plus"></i> Add New</a>
                </div>
            </div>
        </div>
        <!-- /Page Header -->

        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped custom-table mb-0 datatable">
                        <thead>
                        <tr>
                            <th style="width: 30px;">#</th>
                            <th>Type </th>
                            <th>Description </th>
                            <th>Status</th>
                            <th class="text-right">Action</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for goal_type in goal_types %}


                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ goal_type.goal_type }}</td>
                                <td>{{ goal_type.description }}</td>
                                <td>
                                    <div class="dropdown action-label">
                                        <a class="btn btn-white btn-sm btn-rounded dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            {% ifequal goal_type.status 1 %}
                                                <i class="fa fa-dot-circle-o text-success"></i> Active
                                            {% else  %}
                                                <i class="fa fa-dot-circle-o text-danger"></i> Inactive
                                            {% endifequal %}
                                        </a>
                                        <div class="dropdown-menu" data-type_id="{{ goal_type.id }}" data-current_status="{{ goal_type.status }}">
                                            <a class="dropdown-item status_btn" data-status="1"><i class="fa fa-dot-circle-o text-success"></i> Active</a>
                                            <a class="dropdown-item status_btn" data-status="0"><i class="fa fa-dot-circle-o text-danger"></i> Inactive</a>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a href="goal-type.html#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-v">more_vert</i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="goal-type.html#" data-toggle="modal" data-target="#edit_type{{ goal_type.id }}"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                            <a class="dropdown-item" href="goal-type.html#" data-toggle="modal" data-target="#delete_type"><i class="fa fa-trash-o m-r-5"></i> Delete</a>

                                        </div>

                                        <!-- Edit Goal Modal -->
                                        <div id="edit_type{{ goal_type.id }}" class="modal custom-modal fade" role="dialog">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Edit Goal Type</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form method="post" action="{% url 'performance:update_goal_type' goal_type.id %}"> {% csrf_token %}
                                                            <div class="form-group">
                                                                <label class="text-center">Goal Type <span class="text-danger">*</span></label>
                                                                <input name="goal_type" class="form-control" type="text" value="{{ goal_type.goal_type }}">
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="text-center">Description <span class="text-danger">*</span></label>
                                                                <textarea  name="description" class="form-control" rows="4">{{ goal_type.description }}</textarea>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="text-center col-form-label">Status</label>
                                                                <select name="status" class="form-control">
                                                                    <option value="1" {% ifequal goal_type.status 1 %} selected {% endifequal %}>Active</option>
                                                                    <option value="0" {% ifequal goal_type.status 0 %} selected {% endifequal %}>Inactive</option>
                                                                </select>
                                                            </div>
                                                            <div class="submit-section">
                                                                <button class="btn btn-primary submit-btn">Save</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /Edit Goal Modal -->

                                        <!-- Delete Goal Modal -->
                                        <div class="modal custom-modal fade" id="delete_type" role="dialog">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-body">
                                                        <div class="form-header">
                                                            <h3>Delete Goal Type</h3>
                                                            <p>Are you sure want to delete?</p>
                                                        </div>
                                                        <div class="modal-btn delete-action">
                                                            <div class="row">
                                                                <div class="col-6">
                                                                    <a href="{% url 'performance:remove_goal_type' goal_type.id %}" class="btn btn-primary continue-btn">Delete</a>
                                                                </div>
                                                                <div class="col-6">
                                                                    <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /Delete Goal Modal -->

                                    </div>
                                </td>
                            </tr>

                        {% endfor %}


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /Page Content -->

    <!-- Add Goal Modal -->
    <div id="add_type" class="modal custom-modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add New Goal Type</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'performance:add_goal_type' %}" method="post"> {% csrf_token %}
                        <div class="form-group">
                            <label>Goal Type <span class="text-danger">*</span></label>
                            <input name="goal_type" class="form-control" type="text">
                        </div>
                        <div class="form-group">
                            <label>Description <span class="text-danger">*</span></label>
                            <textarea class="form-control" name="description" rows="4"></textarea>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Status</label>
                            <select name="status" class="form-control">
                                <option value="1">Active</option>
                                <option value="0">Inactive</option>
                            </select>
                        </div>
                        <div class="submit-section">
                            <button class="btn btn-primary submit-btn">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /Add Goal Modal -->





{% endblock %}
{% block script %}

    <script>
    $(document).ready(function(){

        $(".status_btn").on('click', function (){

            let type_id = $(this).parent().attr('data-type_id')
            let current_status = $(this).parent().attr('data-current_status')
            let new_status = $(this).attr('data-status')

            let data = {
                type_id: type_id
            }

            if (new_status != current_status){

                $.ajax({
                    url: '{% url 'performance:change_status' %}',
                    data: data,
                    method: 'get',
                    success: function(data){
                        if (data['updated'] === 'Successful'){
                            location.reload();
                        }
                    },

                    error: function(error){
                        alert(error)
                    },
                })
            }

        })

    })
    </script>

{% endblock %}