{% extends 'base/base.html' %}
{% load static %}
{% block title %}
    Total Leave Add
{% endblock %}
{% block sideber %}
{% endblock %}
{% block content %}
<div class="container-fluid">

    <div class="main-content" id="panel" style="margin-top:5px;">
        <div class="col-lg-12">
            {% if messages %}
            <div class="messages">
                {% for message in messages %}
                <div class="alert alert-primary" {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                    {{ message}}
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>


        <!-- Page content -->
        <div class="container-fluid mt--6" style="margin-top:30px; padding-bottom: 50px">
            <div class="row">

                <div class="col-xl-12 order-xl-1">
                    <div class="card">
                        <div class="card-header bg-info">
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <h3 class="mb-0">Add Total Leave</h3>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <form method="POST">
                                {% csrf_token %}
                                <div class="pl-lg-4">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>Leave For Year&nbsp&nbsp;<span style="color:red;">*</span></label>
                                                <input type="text" name="total" id="input-country" placeholder="Total Leave For Year"
                                                       title="" class="form-control" required>
                                            </div>
                                            <button class="btn btn-primary float-right" type="submit" style="">Create</button>
                                        </div>
                                    </div>

                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-12 order-xl-1" style="margin-top:30px; padding-bottom: 100px">
        <div class="card">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col-8">
                        <h3 class="mb-0">Leave List For Year</h3>
                    </div>
                </div>
            </div>
            <div class="card-body">

                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col" class="sort" data-sort="SL NO">SN</th>
                            <th scope="col" class="sort" data-sort="title">Total Leave</th>
                        </tr>
                        </thead>

                        <tbody class="list">

                        <tr>
                            <td>1</td>
                            <td>{{ obj.total }}</td>
                        </tr>

                        </tbody>

                    </table>

                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
{% block footer %}
{% endblock %}
{% block script %}
{% endblock %}